* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #001005;
    --text-color: rgb(234, 94, 8);
    --main-color: rgb(0, 0, 0);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* HEADER */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 12%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* MENU ICON */
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/* LOGO */
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

span {
    color: var(--main-color);
}

/* NAVBAR */
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}
